/* Color foundation  */
:root {
    --dark-blue: #1f2937;
    --light-blue: #F9FAF8;
    --semi-light-blue: #E5E7EB;
    --mid-blue-button: #3882F6;
    --white: #ffffff;
    --black: #00000000;
    --light-gray: #e1e6ec;
}

#mission-main {
    padding: 12vh 28vw;
    text-align: center;
}

#mission-main h2 {
    font-size: 34px;
}

#mission-main p {
    font-size: 18px;
}