.secOne-item-container.services-secOne-item-container {
    width: 60%;
    height: 20vh;
    align-items: center;
}

.secOne-item-container#services-achievements {
    width: 100%;
}

.secOne-item-container#services-achievements ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 5vh;
}

.secOne-item-container#services-achievements h3 {
    font-size: 50px;
    text-align: center;
    margin: 0;
}

.secOne-item-container#services-achievements p {
    text-align: center;
    margin: 0;
}

#services-secOne-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}